<div class="user-info-form">
  <form method="POST" action="/user/create-user">
    <div class="mb-3">
      <label for="email" class="form-label">email</label>
      <input type="email" name="email" class="form-control" id="user" />
    </div>

    <div class="mb-3">
      <label for="user" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="user" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
